.NavbarItems{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: black;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-react {
  margin-left: 0.5rem;
  margin-right: 2rem;
  font-size: 1.6rem;
}

.full-background {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: url('../../assets/bg-image.JPG');
    background-size: cover;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: blue;
  border-radius: 0 !important;
  cursor:pointer
}

.nav-links-active {
  color: blue;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: white;
  border-radius: 0 !important;
  cursor:pointer
}


.nav-links:hover {
  color: blue;
  background-color: white;
  transition: all 0.2s ease-out;
  border-radius: 0;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #6668f4;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #7577fa;
    border-radius: 0;
  }

  .navbar-logo{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

.fa-bars {
  color: black;
}

.menu-icon {
  display: none;
}

.text-center {
  margin-top: 30px;
  text-align: center;
}

.profile-center {
  position: absolute;
  top: 200px;
  text-align: center;
  justify-content: center;
  left: 300px;
  right: 300px;
  border-style: groove;
}

.profile-center h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}