.NavbarItems{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: black;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-react {
  margin-left: 0.5rem;
  margin-right: 2rem;
  font-size: 1.6rem;
}

.full-background {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: url('../../assets/bg-image.JPG');
    background-size: cover;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: blue;
  border-radius: 0 !important;
  cursor:pointer
}

.nav-links-active {
  color: blue;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: white;
  border-radius: 0 !important;
  cursor:pointer
}


.nav-links:hover {
  color: blue;
  background-color: white;
  transition: all 0.2s ease-out;
  border-radius: 0;
}

.fa-bars {
  color: white;
}

.menu-icon {
  display: none;
}